.env
./data/author_comments_added.csv
./data/both.txt  
./data/both2.txt
./data/branded_singlemalts.csv
./data/probs.txt 
./data/reviews_added.csv
./data/singular_reviews.csv
./data/submissions_added.csv
./data/success.txt
./data/zeroes.txt
